<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Apertura de Cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">Formulario de Apertura de Cuenta</h1>
        <form th:action="@{/guardarCuenta}" method="post" th:object="${cuenta}" id="cuentaForm">
          <input type="hidden" name="clienteDui" th:value="${cliente.dui}" />
          <div class="form-group">
            <label for="nombreCuenta">Nombre de la Cuenta:</label>
            <input type="text" class="form-control" id="nombreCuenta" th:field="*{nombre_cuenta}" required />
          </div>
          <div class="form-group">
            <label for="montoApertura">Monto de Apertura:</label>
            <input type="number" class="form-control" id="montoApertura" th:field="*{monto_apertura}" required />
          </div>
          <div class="form-group">
            <label for="saldo">Saldo:</label>
            <input type="number" class="form-control" id="saldo" th:field="*{saldo}" required />
          </div>
          <div class="form-group">
            <label for="estadoCuenta">Estado de la Cuenta:</label>
            <select class="form-control" id="estadoCuenta" th:field="*{estado_cuenta}" required>
                <option value="">Selecciona un estado</option>
                <option value="A">Activa</option>
                <option value="I">Inactiva</option>
            </select>
        </div>              
          <button type="submit" class="btn btn-primary">Abrir Cuenta</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
